
.docs-dark-block {
  @include docs-dark-block();
}

.docs-true-text-margins-demo--red-line {
  border-bottom: solid 1px #ff6666;
  display: none;

  &.is-visible {
    display: block;
  }
}

.docs-line-toggler {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 5;
}

.docs-type-property {
  display: block !important;
}

// A Simplesheet is what I'm calling the dimple docs pages that are mostly editorial,
// but Editorialsheet seemed a bit verbose. Might rename it later.
.docs-simplesheet__section {
  margin-bottom: px-rem(80);
}

// Specsheet Style Layout – 1/4 left properties, 3/4 right samples
.docs-specsheet__section {
  margin-bottom: px-rem(80);
}

.docs-specsheet__row {
  position: relative;

  // had to moke the border for the right column into a pseudoelement for proper top alignment due to vertical center.
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-top: 2px solid map-get($docs-colors, theme);
    z-index: 2;
  }
}

.docs-specsheet__col-left {
  z-index: 3;
  min-height: 120px;
}

.docs-specsheet__col-right {
  z-index: 1;
  padding: 70px 16px;
}

.docs-specsheet__col-right--light {
  background: map-get($docs-colors, docsGray70);
  border-left: dotted 1px rgba(map-get($docs-colors, docsGray80), 0.6);
}

.docs-specsheet__col-right--dark {
  background: map-get($docs-colors, docsGray50);
  border-left: dotted 1px rgba(map-get($docs-colors, docsGray50), 0.6);
}

.docs-specsheet__row--related::before {
  border-top: 1px dotted map-get($docs-colors, docsGray70);
}

@include breakpoint(sm) {

  .docs-specsheet__col-right {
    align-self: center;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@include breakpoint(md) {

  .docs-specsheet__col-right {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.docs-type-specsheet-header.docs-type--props-section-header {
  margin-top: px-rem(24);
}

.docs-type-specsheet-header {
  display: block;
}

code.docs-type-property {
  border-radius: 0;

  &:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding-top: 5px;
  }
  &:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-bottom: 5px;
  }
}

.docs-selector-header {
  margin-top: 0;
  padding-top: 20px;
  padding-left: 14px;
  padding-bottom: 1.125rem;
  background: map-get($docs-colors, theme);
}
