
@if not global-variable-exists("theme-color") {
  @error "$theme-color variable should be injected with gulp-insert.";
}

// Every project has different gray shades, and variables; so rather than change
// them in the docs for every project, we'll have grays just for docs, that never change,
// similar to the docs-type-definitions.
// These are incremented at smaller intervals near the poles & the middle, because
// those are the places where you'll most often want more granular differentiation.

$docs-colors: (
  theme: $theme-color,
  prism-background: #f5f2f0,
  white:      rgb(255, 255, 255),
  docsGray95: rgb(242, 242, 242),
  docsGray90: rgb(229, 229, 229),
  docsGray85: rgb(217, 217, 217),
  docsGray80: rgb(204, 204, 204),
  docsGray75: rgb(192, 192, 192),
  docsGray70: rgb(178, 178, 178),
  docsGray65: rgb(166, 166, 166),
  docsGray60: rgb(153, 153, 153),
  docsGray55: rgb(140, 140, 140),
  docsGray50: rgb(128, 128, 128),
  docsGray45: rgb(115, 115, 115),
  docsGray40: rgb(102, 102, 102),
  docsGray35: rgb(89,  89,  89 ),
  docsGray30: rgb(77,  77,  77 ),
  docsGray25: rgb(64,  64,  64 ),
  docsGray20: rgb(51,  51,  51 ),
  docsGray15: rgb(38,  38,  38 ),
  docsGray10: rgb(26,  26,  26 ),
  docsGray05: rgb(13,  13,  13 ),
  black:      rgb(0,   0,   0  )
);


$monospace: Menlo, 'Lucida Console', Monaco, monospace;
$sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
